.App {
  text-align: center;
}

table {
  text-align: left;
}

h1 {
  text-align: left;
}

#createStatus {
  margin: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
